:root {
  --background: #ffffff;
  --foreground: #f5f1f1;
  font-family: var(--font-proxima-nova-regular) !important;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    margin: 0;
    padding: 0;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-proxima-nova-regular) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-proxima-nova-regular) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
h1, h2 {
  font-family: var(--font-proxima-nova-bold) !important;
}

h3 {
  font-family: var(--font-proxima-nova-semibold) !important;
}
.semibold-text {
  font-family: var(--font-proxima-nova-semibold) !important;
}
.bold-text{
  font-family: var(--font-proxima-nova-bold) !important;
}
.thin-text{
  font-family: var(--font-proxima-nova-thin) !important;
}

.alt-thin-text{
  font-family: var(--font-proxima-nova-alt-thin) !important;
}
.regular-text{
  font-family: var(--font-proxima-nova-regular) !important;
}